// font size banner-intro-title
$fs_banner-intro-title: 40px;

// font size banner-intro-content
$fs_banner-intro-content: 20px;

// font size title text
$fs_title-text: 30px;

// font size homepage-works-contentbox-text-title
$fs_homepage-works-contentbox-text-title: 28px;

// font size botton
$fs_botton: 20px;

// font size homepage-service-list-item
$fs_homepage-service-list-itme: 28px;

// font size homepage-service-contact-text
$fs_homepage-service-contact-text: 28px;

// font size homepage-articles-list-item-title
$fs_homepage-articles-list-item-title: 20px;

// font size footer
$fs_footer: 20px;

// font color first
$fc_first: #3B3B3B;

// font color second
$fc_second: #5B5B5B;

// font color third
$fc_third: #C1C1C1;

// font color footer-intro-email
$fc_footer-intro-email: #919191;

// font color homepage-works-contentbox-text
$fc_homepage-works-contentbox-text: #FFFFFF;

// font color homepage-service-list-item
$fc_homepage-service-list-item: #FFFFFF;

// font color articles-tags
$fc_articles-tags: #F1F1F1;

// font color articles-pagination-dots
$fc_articles-pagination-dots: #E9E9E9;

// line height banner-intro-content
$lh_banner-intro-content: 30px;

// line height homepage-works-contentbox-tags
$lh_homepage-works-contentbox-tags: 24px;

// line height botton
$lh_botton: 30px;

// line height homepage-service-list-item
$lh_homepage-service-list-item: 24px;

// line height homepage-articles-list-item
$lh_homepage-articles-list-item: 24px;

// line height footer
$lh_footer: 30px;